.u-section-1 .u-sheet-1 {
  min-height: 789px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 715px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -151px auto 0 599px;
  padding: 49px 70px 50px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -123px auto 60px 303px;
  padding: 49px 89px 50px 88px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 499px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 50px;
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: -1px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -158px;
    margin-left: 374px;
  }

  .u-section-1 .u-btn-2 {
    margin-bottom: 59px;
    margin-left: 108px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 722px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 677px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -136px;
    margin-left: 282px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-image-1 {
    height: 614px;
    margin-top: 32px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -142px;
    margin-left: 185px;
    padding: 36px 17px 36px 16px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -96px;
    margin-bottom: 60px;
    margin-left: 23px;
    padding: 36px 36px 36px 35px;
  }
}